.optionsDiv{
    display: flex;
    gap: 10px;
}

.optionsButton{
    background-color: rgb(255, 255, 255);
    border-radius: 4px;
    padding: 5px 10px;

}

.optionsButton:hover,
.optionsButton:focus
{
    background-color: rgb(77, 109, 255);
}